
    <div class="md-toolbar-tools" style="background:black">
        <span><label>Sensors</label></span>
    </div>
<div layout-gt-sm="row" layout="column" >
    <div flex-gt-sm="30" flex="" >
        <md-content style="background:black">
            <md-list>
                <md-list-item ng-model="Channel" ng-repeat="Channel in Channels">
                    <md-button class="md-raised" ng-click="editChannel(Channel)">Sensor {{ ChannelIds[Channel.Id] }} {{Channel.Name}}</md-button>
                </md-list-item>
            </md-list>
        </md-content>
        
    </div>



    <div flex-gt-sm="60" flex="" ng-show="edit" layout-gt-sm="row" layout="column" >
        <md-content style="background:black">
            <label>Sensor {{ ChannelIds[Channel.Id] }} Calibration Point: {{PointNumber}}</label> 
            <input type="text" placeholder="Sensor Name" ng-model="Channel.Name">
            <input type="text" placeholder="Guage Value" ng-model="Point.x">
            <input type="text" placeholder="Sensor Value" ng-model="Point.y">
            <md-button class="md-raised" ng-click="savePoint()">Save Point</md-button>
        </md-content>
    </div>



    <div flex-gt-sm="20" flex="" ng-show="edit" layout-gt-sm="row" layout="column" >
        <md-content style="background:black">
            <md-button class="md-raised" ng-click="saveConfig()">Save Channel Config</md-button>
        </md-content>
    </div>

</div>
<label>{{ OutputMessage }}</label>